---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
    <main>
        <h1>Contact Us</h1>
        <p>
            In need of assistance or want to inquire about an item? Fill out the form or use the information below to get into contact with us.
        </p>
        <div>
            <label>
                Full Name
            </label>
            <input>
            <label>
                Email
            </label>
            <input>
            <label>
                Message
            </label>
            <textarea></textarea>
        </div>
    </main>
</Layout>