---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.tsx';
---

<Layout title="Contact">
    <main class="md:mx-48 md:my-16 flex flex-col items-center grow-1 justify-around min-h-screen">
        <div class="w-3/5">
            <h1 class="text-3xl text-center">Contact Us</h1>
            <p class="text-center">
                In need of assistance or want to inquire about an item? Fill out the form or use the information below to get into contact with us.
            </p>
        </div>
        <Form client:load/>
        <p class="before:w-3 before:bg-black before:h-1 before:left-0 relative before:absolute before: bottom-1/2 inline-block after:w-3 after:bg-black after:h-1 after:right-0 after:absolute">Or</p>
        <div>
            <ul class="list-none flex flex-row gap-10">
                <li>
                    Phone Number
                </li>
                <li>
                    Email
                </li>
                <li>
                    Location
                </li>
            </ul>
        </div>
    </main>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
   (function(){
      emailjs.init("2GuZPLvQ3ROla7NzI");
   })();
</script>
</Layout>