---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="relative">
			<img src="../plateImage.jpeg" class="w-full h-full"/>
			<div class="absolute w-1/2 h-1/2">
				<h1 class="text-3xl">John Philbrick Antiques</h1>
				<a href="./inventory"><button>Browse</button></a>
			</div>
		</div>
	</main>
</Layout>

