---
import Layout from "../layouts/Layout.astro";
import InventoryItem from "../components/AntiqueCard";
import InventoryContainer from "../components/InventoryContainer";
---

<Layout title="Inventory">
  <main class="md:mx-48 md:my-16 mx-12 my-8">
    <h1 class="text-5xl text-center">Inventory</h1>
    <div class="flex flex-col gap-10">
      <InventoryContainer client:load />
      <InventoryContainer client:load /> 
    </div>
  </main>
</Layout>