---
import { Image } from "astro:assets";
import HourglassIllustration from "../images/HourglassIllustration.png";
import NavDesktop from "./NavDesktop.astro";
import NavMobile from "./NavMobile.astro";
---

<div class="flex flex-col md:flex-row p-6 bg-navGrey text-white sticky top-0 z-50">
  <NavDesktop></NavDesktop>
<NavMobile></NavMobile>
</div> 


<style>
  ul {
    font-family: Source Serif Pro;
  }
</style>
